$purple-light: #CABFF3;
$purple-regular: #592FD1;
$purple-heavy: #6A6488;

$grey: #ABA7A5;
$indicator-grey: #E6E6E6;
$indicator-active: #444444;

$title-font-color: #292929;
$description-font-color: #444444;

$nanum-bold: nanum_bold;
$nanum-regular: nanum-regular;
$nanum-light: nanum-light;

$animation: cubic-bezier(0.165, 0.84, 0.44, 1);



$border-radius: 5px;

$emoji-size: 50px;
$large-font-size: 43px;
$description-font-size: 22px;
$display-state-font-size: 24px;

$red-color: #FF0F0F;
$blue-color: #0064FF;